// Specific CSS for your home-page
.home-page-banner {
  height:400px;
  border-radius: 10px;

  .home-page-banner-img {
    height:100%;
    width:100%;
    object-fit: cover;
    box-shadow: 1px 1px 100px rgb(77, 22, 2);
  }
}

.home-page-videos-title{
  padding:30px;
  color: rgb(218, 14, 14);
  font-weight: bold;
  font-family: 'Cinzel', serif;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  text-align: center;


}

.home-page-videos{
  height:430px;
}

.home-page-video{
  height:300px;
  width:100%;
  left:35%;
  position:absolute;
  border-radius:10px;
}

.home-page-img{
  height:300px;
  width:30%;
}
