<div class="home-page-banner">
  <%= image_tag "banner.jpg", :class=> "home-page-banner-img" %>
</div>
<div class="about">
<h1> About KB </h1>
<p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit, turpis nec consectetur blandit, massa sem porttitor ligula, sed accumsan ipsum magna suscipit diam. Praesent justo magna, dictum nec eros non, sodales tincidunt ligula. Maecenas feugiat enim quis sollicitudin consequat. Nam et porta ligula. Aenean laoreet, ligula id aliquam congue, nulla ligula condimentum quam, et vestibulum velit purus in mi. Fusce molestie quam vel sagittis placerat. Sed eget rutrum velit. In hac habitasse platea dictumst. Curabitur placerat sapien ut condimentum tincidunt. Mauris pharetra, sem eu finibus hendrerit, magna sem consequat nibh, sit amet pharetra justo leo ac arcu. Duis pellentesque sollicitudin leo nec bibendum. Duis ornare augue nec urna auctor feugiat. Fusce pulvinar mattis ipsum.

Donec vitae nulla quis metus iaculis tempor eget ut augue. Fusce sollicitudin aliquam convallis. In hac habitasse platea dictumst. Ut ultrices, ipsum sit amet lacinia congue, magna massa placerat urna, sit amet cursus mauris ex sed sem. Ut mattis, ligula ut pretium pretium, libero massa dictum ipsum, in porta justo nisi in justo. Nulla varius placerat leo, quis tempus erat semper ut. Proin posuere hendrerit orci sed hendrerit.

Phasellus justo nisi, suscipit a dapibus sed, laoreet varius tortor. Vivamus laoreet pulvinar cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer tincidunt, lorem quis hendrerit ullamcorper, tellus mi pretium eros, eget laoreet felis orci eu tortor. Duis ullamcorper, purus sed ornare placerat, turpis orci feugiat nibh, et ornare ipsum sapien nec leo. Nulla sem nibh, tempor quis tristique ac, laoreet eu nunc. Etiam bibendum vel dui vitae aliquet. Aenean nibh nibh, aliquet eget velit ac, dapibus facilisis lacus. Quisque non suscipit augue, lobortis ullamcorper velit. Donec posuere urna ligula, quis eleifend nunc sodales eget. Duis vel dictum metus. Donec suscipit cursus viverra. Proin commodo, massa eget iaculis tristique, leo nibh viverra magna, eget semper ante leo ut dui.</p>
</div>
