<div class="home-page-banner">
  <%= image_tag "banner.jpg", :class=> "home-page-banner-img" %>
</div>

 <div class="home-page-videos">
     <div class="home-page-videos-title">
    VIDEOS
     </div>
      <div class="home-page-video">
      <iframe width="30%" height="315" src="https://www.youtube.com/embed/0K7dEq4ypsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
      </iframe>
      </div>
 </div>

 <div class="home-page-banner">
  <%= image_tag "concert V2.png", :class=> "home-page-banner-img" %>
</div>

 <div class="home-page-videos">
     <div class="home-page-videos-title">
    PHOTOS
     </div>
      <div class="home-page-video">
        <%= image_tag "singer.jpg", :class=> "home-page-img" %>
      </div>
 </div>
